html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/style2.css")
        title Carrito de Compra
    body
        // LOGO SECTION
        section.forms-section
            a(href = "/")
                h1.section-title BOOK
                    a(href = "/")
                        samp byte

        // CONTENT WRAPPER
        .content-wrapper
            .container
                .cart
                    .cart-header
                        h1 Carrito
                    .cart-item
                        img(src='https://via.placeholder.com/150', alt='Multímetro Digital')
                        .item-details
                            h2 Libro
                            p $108.33
                        .item-actions
                            button Eliminar
                .summary
                    h2 Resumen de compra
                    p Producto: $108.33
                    p Total: $108.33
                    button.btn-continue Continuar compra
