//extends layout.pug

block content

    doctype html
    html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gerente
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    
        style.
            .chart-container {
                width: 400px;
                height: 300px;
            }
        
    body
        .container
            h1 Reportes de ventas
            hr
            // Tabla de Reporte de Ventas para Libros

            .row
                .col-md-6
                    select.form-control#year(name="year")
                .col-md-6
                    select.form-control#month(name="month")
                        option(value="1") Enero
                        option(value="2") Febrero
                        option(value="3") Marzo
                        option(value="4") Abril
                        option(value="5") Mayo
                        option(value="6") Junio
                        option(value="7") Julio
                        option(value="8") Agosto
                        option(value="9") Septiembre 
                        option(value="10") Octubre
                        option(value="11") Noviembre
                        option(value="12") Diciembre
                       
            hr
            h2 Reporte de ventas para Libros
            table#bookSalesTable.table.table-striped
                thead
                    tr
                        th Fecha
                        th Mas vendido
                        th Copias
                tbody
            hr
            // Tabla de Reporte de Ventas para Autores
            h2 Reporte de ventas para Autores

            table#authorSalesTable.table.table-striped
                thead
                    tr
                        th Fecha
                        th Mas vendido
                        th Copias
                tbody
            hr
            // Tabla de Reporte de Ventas para Géneros de Libros
            h2 Reporte de ventas para generos
            
            table#genreSalesTable.table.table-striped
                thead
                    tr
                        th Fecha
                        th Mas vendido
                        th Copias
                tbody

            canvas#myChart1.chart-container
            canvas#myChart2.chart-container
            canvas#myChart3.chart-container

    
script(src="/js/graficas-reportes.js")