doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        header(class="header")
            a(class="logo") LOGO
                span logo
            ul(class="navbar")
                li 
                    a(href="#" class="active") HOME
                li    
                    a(href="#") MIS FAVORITOS
                li
                    a(href="#") OFERTAS
                li
                    a(href="#") LOS MAS LEIDOS
            div(class="main")
                a(href="#" class="user")
                    i(class="ri-user") Sign in
                a(href="#") Register
                div(class="bx bx-menu" id="menu-icon")