// layout.pug (la plantilla base)

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Home
    link(rel="stylesheet", href="/css/style.css")
  body
    header(class="header") 
      div.left-content
        h1 Librería
      div.right-content 
        a(href="/login") Iniciar sesión
        a(href="/cart") Carrito


    main
      block content // Este bloque se reemplazará en las plantillas específicas

        h2 Bienvenido a Mi Página
        p Contenido principal de la página.

    footer
      p © 2024 Mi Página
