doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Home
    link(rel="stylesheet", href="/css/style.css")
  body
    header(class="header")
  div.left-content
    h1.section-title
      | BOOK 
      samp.byte byte

  div.right-content 
    div(class="nav-links")
      a(href="/login") Iniciar sesión
      a(href="/cart") Carrito


    main(class="main")
      h2 Bienvenidx a BOOK byte
      div(class="container")
        ul(class="ul")
          li
            a(href="/libros") LIBROS
          li
            a(href="/descuentos") DESCUENTOS
          li
            a(href="/ebooks") EBOOKS

        form(class="form", action="/search", method="post") 
          input(type="text", id="buscar", name="buscar", placeholder="Buscar libros...", required)

      div(class="gallery")
        img(src="/ruta/a/la/imagen.jpg", alt="imagen1")
        img(src="/ruta/a/la/imagen.jpg", alt="imagen2")
        img(src="/ruta/a/la/imagen.jpg", alt="imagen3")
    footer
      p © 2024 Mi Página
