// layout.pug (la plantilla base)

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Home
    link(rel="stylesheet", href="/css/style.css")
  body
    header(class="header")
      div.left-content
        h1 Logo de la Librería
      div.right-content 
        a(href="/login") Iniciar sesión
        a(href="/cart") Carrito

  main(class="main")
    h2 Bienvenido a Mi Página
    ul(class="ul")
      li
        a(href="/libros") LIBROS
      li
        a(href="/descuentos") DESCUENTOS
      li
        a(href="/ebooks") EBOOKS

  footer
    p © 2024 Mi Página
