// layout.pug (la plantilla base)

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Home
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      // Aquí está el contenido del encabezado
      div.left-content
        h1 Librería
        a(href="/login") Iniciar sesión
        a(href="/cart") Carrito

      h2 Bienvenido a Mi Página

    main
      block content // Este bloque se reemplazará en las plantillas específicas
        p Contenido principal de la página.

    footer
      p © 2024 Mi Página
