doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style2.css")
        link(rel="stylesheet", href="https://unpkg.com/boxicons@latest/css/boxicons.min.css")
        link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet")
    body
        header(class="header")
            a(class="logo",href = "/") 
                img(src="img/logo.ico")
            ul(class="navbar")
                li 
                    a(href="#" class="active") INICIO
                li
                    a(href="#") LIBROS+  
                    ul
                        li
                            a(href="#" class = "sagas") Sagas+
                            ul(class = "sagas")
                                li
                                    a(href = "#") Star Wars 
                                    a(href = "#") Harry Potter
                                    a(href = "#") Star Wars 
                        li 
                            a(href="#") Jovenes
                        li 
                            a(href="#") Arte
                        li 
                            a(href="#") No ficción            
                li
                    a(href="#") OFERTAS
                li
                    a(href="#") LO MAS LEIDO
            div(class="mainm")
                a(href="login" class="user") MI CUENTA
                    i(class="ri-user-3-fill") 
                a(href="#"  class="bag")
                    i(class="ri-shopping-bag-3-fill") 
                a(href="#"  class="fav")
                    i(class="ri-heart-3-fill")   
                div(class="bx bx-menu" id="menu-icon")
    script(src="js/header.js")                
    block content
    footer
