extends layout
block content 
    .book-item
      img.book-cover(src="/img_book/"+libro.book_genre+"/"+libro.book_isbn, alt="")
      .book-details
        h2.book-title=libro.book_name
        p.book-author=libro.book_author
        p.book-price=libro.book_price
        .buttons
            a(href = "/agregarcarrito/"+libro.book_id, style="color: white; text-decoration: none; cursor: pointer;")
                button.add-to-cart
                    i.fas.fa-shopping-cart
                    |  Añadir al carrito
            a(href = "/agregarfavoritos/"+libro.book_id, style="color: white; text-decoration: none; cursor: pointer;")
                button.add-to-wishlist
                    i.fas.fa-heart
                    |  Agregar a favoritos
            a(href = "/agregarapartado/"+libro.book_id, style="color: white; text-decoration: none; cursor: pointer;")
                button.add-to-apartado
                    i.fas.fa-heart
                    |  Agregar a apartados