doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My Pug File
    link(rel="stylesheet", href="styles.css")
  body
    h1 Welcome to My Pug File
    p This is a basic Pug file.
    script(src="script.js")
