.texto {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Centra completamente */
  text-align: center;
  padding: 0 50px; /* Ajusta el padding según sea necesario */
  color: #ffffff; /* Hace que el texto sea transparente para que solo se muestre el borde */
}

.texto h2{
  font-size: 45px;
  margin-bottom: 35px;
  -webkit-text-stroke: 2px rgb(0, 0, 0); /* Para navegadores WebKit como Chrome y Safari */
  color: rgb(255, 255, 255); /* Hace que el texto sea transparente para que solo se muestre el borde */
  
}
.container-carousel {
  position: relative;
  width: 900px;
  height: 350px;
  background-color: #e0e0e0;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
  border-radius: 15px;
  overflow: hidden;

}

.carruseles {
  width: 400%;
  height: 100%;
  display: flex;

}

.slider-section {
  width: calc(100% / 4);
  height: 100%;
}

.slider-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 700;
  cursor: pointer;
  color: #fafa00c9;
  transform: translate(0,-50%);
  transition: .5s ease;
  user-select: none;
}

.btn-left:hover{
  background-color: #2b2b73;
  color: #ffffff;
}
.btn-right:hover {
  background-color: #2b2b73;
  color: #ffffff;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

.best-sellers{
  bottom: 300px;
  text-align: justify;
}
.main-container{
  display: flex;
  flex-direction: column;
}