*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root{  
 --bg-color: #ffffff;
 --text-color: #2c0544;
 --main-color: #00a4e4;
}
body{
    display: flex;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 20%;  /*Se modifica para el footer*/
    text-transform: capitalize;
}


header{
    position: fixed;
    width: 105%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 28px 12%;
    transition: all .50s ease;
    
}
header.header{
    margin-bottom: 100px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 2px;
}

.logo span{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
}
.navbar i{
    position: relative;
}
.navbar {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    gap: 5px; 
}


.navbar li{
  position: relative;
  list-style: none;
}
.navbar li .submenu {
  display: none; 
  position: absolute;
  background-color: var(--bg-color);
  margin-top: 5px; 
  z-index: 100;
  left: 0; 
  white-space: nowrap;
}

.navbar li .submenu .u-items {
  display: flex; 
  flex-direction: column; 
  min-width: 120px;
  padding: 10px; 
}

.navbar li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  display: flex;
  transform: translateY(0);
 
}
.navbar li .submenu a {
color: var(--text-color);  
padding: 5px 0; 
display: block; 
text-align: left;
}

.navbar li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}


.sagas{
    display: block;
    margin-top: 2px;
    left: 100%;
}
.navbar a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.7rem;
    font-family: bebas;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar li ul li a {
    padding: 10px;
    color: #000; /* Submenu item text color */
    display: block; /* Make the whole area clickable */
}
.navbar a:hover{
    background: -webkit-linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}
.navbar a.active{
    background: -webkit-linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.contenedorCompra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  width: 30%; 
  height: auto; 
  position: fixed;
  right: 10%; 
  top: 10%; 
  background-color: var(--bg-color);
  border-radius: 15px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  overflow: auto;
}
.cesta-header{
  font-family: fjalla;
}
.cesta-header span {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  
}


.cesta-body::-webkit-scrollbar {
  width: 8px;
}

.cesta-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.cesta-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.cesta-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px; 
}


.contenedorCompra button {
  background-color: var(--main-color); 
  color: white; 
  width: 80%; 
  padding: 15px 30px; 
  border-radius: 20px; 
  border: none;
  font-size: 17px;
  font-weight: 500; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
}

.contenedorCompra button:hover {
  background-color: #ffffff; 
  color: #363636; 
}

.none {
  display: none;
}

  
.productoo{
  font-size: 20px;
  font-family: Narrow;
}
.imgcompra {
  display: flex;
  align-content: center;
}
.imgcompra img{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  margin-top: 5px;
  padding-left: 15px;
  width: 100px;
  height: 100px;
}
.total-precio{
  margin-top: 10px;
}
.infocompra{
  display: flex;
  margin-left: 8px;
  padding: 20px;
  text-align: left ;
}
.mainm{
    display: flex;
    align-items: center;
}
.mainm a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user{
    display: flex;
    font-family: bebas;
    font-size: 28px;
    align-items: center;  
}

.user i{
    background: -webkit-linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 28px;
    margin-right: 7px;
}

.bag{
    display: flex;
    align-items: center;
}
.bag i{
    background: -webkit-linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 23px;
    margin-right: 7px;
}
.fav{
    display: flex;
    align-items: center;
}
.fav i{
    background: -webkit-linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 23px;
    margin-right: 7px;
}
.logout{
  display: flex;
  align-items: center;
}
.logout i{
    background: -webkit-linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 25px;
    margin-right: 7px;
}
.main a:hover{
    color:var(--main-color);

}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media(max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0; 
        margin: 0px 20px;
    }
}
@media(max-width:1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top:100%;
        right: -100%;
        width: 290px;
        height: 30vh;
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px ;
        transition: all .50s ease;
    }

    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }
}
@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
  }

  @font-face {
    font-family: Narrow;
    src: url(../fonts/Archivo_Narrow/narrow.ttf);
  }

  @font-face {
    font-family: fjalla;
    src: url(../fonts/FjallaOne.ttf);
  }

  .main-container{
    margin-top: 150px; /* Ajusta el valor según la altura de tu encabezado */
    display: flex;
    flex-direction: column; 
  }
.u-items{
  font-size: 28px;
}
/*Buscador de contenido*/

#icon-menu{
  position: absolute;
  right: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#icon-menu i{
  font-size: 160%;
  color: #3c3c3c;
  cursor: pointer;
  transition: all 300ms;
}
#icon-menu i:hover{
  color: var(--main-color);
}
#ctn-bars-search{
  position: fixed;
  top: 10%;
  width: 100%;
  background: transparent;
  padding: 20px;
  z-index: 9;
  transition: all 600ms;
  top: -10px;
  
}

#ctn-bars-search input{
  display: block;
  color: #ffffff;
  width: 1200px;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  outline: 0;
}

#box-search{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  background: #f60000;
  z-index: 8;
  overflow: hidden;
  display: none;
}

#box-search li a{
  display: block;
  width: 1200px;
  color: #777777;
  padding: 12px 20px;
}

#box-search li a:hover{
  background: #f3f3f3;
}

#box-search li a i{
  margin-right: 10px;
  color: #777777;
}


#cover-ctn-search{
  width: 300%;
  height: 300%;
  position: fixed;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 7;
  display: none;
}

 
/******A PARTIR DE AQUI EMPIEZA EL CARRUSEL*/

.texto {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra completamente */
    text-align: center;
    padding: 0 50px; /* Ajusta el padding según sea necesario */
    color: #ffffff; /* Hace que el texto sea transparente para que solo se muestre el borde */
  }
  
  .texto h2{
    font-size: 45px;
    margin-bottom: 35px;
    -webkit-text-stroke: 2px rgb(0, 0, 0); /* Para navegadores WebKit como Chrome y Safari */
    color: rgb(255, 255, 255); /* Hace que el texto sea transparente para que solo se muestre el borde */
    
  }
  .container-carousel {
    position: relative;
    width: 900px;
    max-width: 100%; /* Ajusta el ancho máximo para que se adapte al tamaño del contenedor */
    height: 350px;
    max-height: calc(100vh - 200px); /* Ajusta la altura máxima según el espacio disponible */
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
    margin: auto; /* Centra horizontalmente el carrusel */
}

  
  .carruseles {
    width: 400%;
    height: 100%;
    display: flex;
  
  }
  
  .slider-section {
    width: calc(100% / 4);
    height: 100%;
  }
  
  .slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .btn-left,
  .btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 700;
    cursor: pointer;
    color: #7d7d6bc9;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
  }
  
  .btn-left:hover{
    background-color: #2b2b73;
    color: #ffffff;
  }
  .btn-right:hover {
    background-color: #2b2b73;
    color: #ffffff;
  }
  
  .btn-left {
    left: 10px;
  }
  
  .btn-right {
    right: 10px;
  }
  
  .best-sellers{
    bottom: 300px;
    text-align: justify;
  }
  .main-container{
    display: flex;
    flex-direction: column;
  }  


  /** Aquí empieza el scroll de los productos **/

  .btn-left-product,
  .btn-right-product {
    display: flex;
    position: absolute;
    top:40%;
    font-size: 2.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    color: #7d7d6bc9;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
  }
  
  .btn-left-product:hover{
    background-color: #2b2b73;
    color: #ffffff;
  }
  .btn-right-product:hover {
    background-color: #2b2b73;
    color: #ffffff;
  }
  
  .btn-left-product {
   right: 20px;
  }
  
  .btn-right-product {
    right: 20px;
  }


  /** FOOTER **/

  footer{
    background-color: #2d4484;
    padding: 0.5em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .container-footer{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 1%;

  }
  .footer-row{
    display: flex;
    flex-wrap: wrap;

  }
  .footer-links{
    width: 30%;
    padding: 0 15px;

  }

  .footer-links h4{
    font-size: 1.7em;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid var(--main-color);
    display: inline-block;
    padding-bottom: 10px;
  }
  .footer-links a {
    font-size: 1.1em;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 5.5%;
    transition: all .3s ease;
  }

  .footer-links ul{
    font-size: 1.1em;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 5.5%;
    transition: all .3s ease;
  }
  
  .footer-links a:hover {
    color: #FFFFFF;
    padding-left: 6px;
  }

  .social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all 0.5 ease;
  }

  .social-link a:hover{
    background-color: var(--main-color);
  }

@media(max-width:991px){
  .footer-row{
    text-align: center;
  }
  .footer-links{
    width: 100%;
    margin-bottom: 36px;
  }
  
}



/*** Best sellers **/
.header-feahion{
    padding-top: 5%;
}
.header-feahion h1{
    color: var(--main-color);
    font-size: 30px;
}
.header-text{
    position: absolute; 
    left: 150px; 
    top: 100px;
}
.header-text h1,b{
    color: black; 
    font-size: 50px;
}

  .s_product{
      position: relative;
      display: flex;
      justify-content: center; /* Centra horizontalmente */
      align-items: center; 
  }
  .product {
    margin-bottom: 106px;
  }
  .s_product > img {
    width: 60%;
  }
  .s_product h2 {
    background: #e8eced none repeat scroll 0 0;
    border-radius: 52%;
    color: #eec787;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 8px;
    position: absolute;
    right: 18px;
    top: -13px;
  }
  .s_product > h3 {
    background: var(--main-color) none repeat scroll 0 0;
    bottom: -30px;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 400;
    left: 25%;
    padding: 13px 38px;
    position: absolute;
    text-align: center;
  }
  .s_product h4 {
    background: rgba(0,0,0,.5);
    bottom: -10px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding: 20px 0px;
      font-family: "Roboto",sans-serif;
      opacity: 0;
  }
  .s_product .s_overlay{
      position: absolute;
      background: rgba(0,0,0,.4);
      width: 80%;
      height: 20%;
      top: 0;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease-in-out;
  }
  .s_product i.bxs-heart {
    font-size: 2rem; 
    color: white; 
    display: none; 
}
.s_product:hover .bxs-heart {
  display: block;
  
}
.s_product .favs {
  position: absolute;
  width: 100px;
  height:30px;
  top: 250px;
  margin-left: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0; /* Oculto inicialmente */
  transition: opacity 0.3s ease-in-out;
}

.s_product:hover .favs {
  opacity: 1; /* Visible al pasar el mouse */
}

.s_product:hover > .s_overlay {
  opacity: 1;
}

  .s_product i {
    font-size: 18px;
    margin-right: 10px;
  }
  .s_product:hover > .s_overlay{
      opacity: 1
  }
  .s_product:hover > h4{
      opacity: 1
  }
  .s_product:hover > h3{
      opacity: 0
  }
  .rate > h3 {
    margin: 0;
    padding-top: 40px;
      font-size: 18px;
      font-weight: 400;
      font-family: "Roboto",sans-serif;
      color: #3d3d3d;
  }
  .rate > p {
    margin-top: 5px;
  }
  .rate > p i {
    color: #a26503;
      margin-right: 5px;
  }
  .rate > p span i {
    color: #b8b8b8;
  }
  .rate > h5 {
    margin-top: -3px;
    padding: 0;
      font-size: 18px;
      font-weight: 400;
      font-family: "Roboto",sans-serif;
      color: #3d3d3d;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
    .col-md-3, .col-md-12 {
    
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    
  }
  @media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-12 {
      float: left;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-3 {
      width: 25%;
    }
  }
