html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .logo{
    background-color: aqua;
    margin-left: 400px;
    margin-right: 400px;
  }
  
  .left-content {
    flex-grow: 1; /* Para que el título Librería ocupe el espacio restante */
  }
  
  .right-content {
    display: flex;
  }
  
  .right-content a {
    margin-left: 20px; /* Ajusta el margen entre los enlaces */
  }

  h1{
    text-align: center;
  }
  .ul{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    margin-right: 5px;
  }
  .ul li {
    margin-right: 25px;
  }
  .form{
    margin-left: 5px;
  }
  .container{
    display: flex;
    justify-content:space-around; 
    align-items: center;
  }

  .gallery {
    width: 1200px;
    height: auto;
    margin: 50px auto 0;
  }
  
  .gallery img {
    display: block; 
    width: 100%; /
    
  }
  